html, body {
	padding: 0px;
	margin: 0px;	
	font-size: 16px;
}

body {
	background-image: url("seanlife/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
}

.flex-container {
  display: flex;  
}

@media screen and (min-width:1024px) {
	.menu_small {
		display: none !important;
	}
}

@media screen and (max-width:1023px) {
	.menu_big {
		display: none;		
	}
	.title_block {
		display: none;	
	}
}

.top_block {
	background-color: rgba(240,240,240,0.1);
	justify-content: space-between;
}
.shop_name {
	font-size: 	2.8rem;
	color: white;
	margin: auto 20px;
	padding: 5px 10px;
}
.top_block span {
	color: rgba(255,187,102,0.8);
}
.menu_block {
	justify-content: flex-end;
}

.title_block{
	font-family: 'Noto Serif TC', serif;
	font-size: 	4.8rem;
	color: white;
	/*-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;*/
	/*position: absolute;*/
	margin-top: 30vh;
	margin-left: 50px;
}

.subtitle {
	font-family: 'Noto Serif TC', serif;
	font-size: 	1.8rem;
	color: white;
	margin-left: 50px;
	margin-top: 25px;
}
	
.main_left_block {
	position: fixed;
	padding: 10px;
	bottom: 10%;
	right: 50px;
	width: 300px;
	height: auto;
	background-color: rgba(240,240,240,0.1);
	border-radius: 10%;
}

.main_left_block h1 {
	color: white;
	margin: 5px;
}

.main_left_block form {
	color: white;
}

.reservation_data input[type=text] {
	width: 100px;
	margin-left: 5px;
	margin-bottom: 10px;
	flex:1;
}

.reservation_data input[type=date] {
	width: 100%;
	margin-left: 5px;
	margin-bottom: 10px;
	flex:1;
}

.reservation_data input[type=time] {
	width: 100%;
	margin-left: 5px;
	margin-bottom: 10px;
	flex:1;
}

.reservation_data input[type=submit] {
	background-color: rgba(255,187,102,1);
	border-color: rgba(255,187,102,1);
	margin-bottom: 10px;
	width: 100%;
	flex:1;
}

.reservation_data input[name=PhoneNumber] {
	width: 100%;
	margin-left: 5px;
	margin-bottom: 10px;
	flex:1;
}

.top_block_item {
	font-size: 	1.8rem;
	color: white;
	margin: 0px 20px;
	padding: 20px 10px;
}

.top_block_item:hover {
	background-color: rgba(255,187,102,0.3);
	cursor: pointer;
}
